<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Biomimicry</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <header>
        <h1 class="title"> 🔬 7th Grade Biomimicry STEM</h1>
        
        <ul class="navbar">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About Project</a></li>
            <li><a href="stem.html">STEM</a></li>
            <li><a href="info.html">Info</a></li>
        </ul>
    </header>
    
    <main>
        
    </main>

    <footer>

    </footer>
</body>